@model EstacionamentoDotnet6.Models.Carro

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-white">Deletar</h1>

<h3 class="text-white">Deseja deletar mesmo este itens da lista ?</h3>
<div>
    <h4 class="text-white">Propietario</h4>
    <hr />
    <dl class="row">
      
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCarro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCarro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
          <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
         <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
          <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
         <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Placa)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CarroId" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a class="btn btn-outline-primary" asp-action="Index">Voltar a lista</a>
    </form>
</div>
